.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  padding: 20px;
}

.main-dc h3 {
  text-align: center;
  color: #5a5a5a;
  padding-top: 20px;
}

.description-text {
  text-align: center;
  max-width: 600px;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #bdc3c7;
  font-family: Arial, sans-serif;
  background-color: #5a5a5a;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.enter {
  animation: slideFadeIn 1.1s ease-in-out forwards;
}

.exit {
  animation: slideFadeOut 1.1s ease-in-out forwards;
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
